    <!-- Download Section -->
    <section id="projects" class="content-section text-center">
        <div class="projects-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                  <a href="https://github.com/colin-stubbs/salt-formula-cis">
                    <h2>salt-formula-cis</h2>
                    <p>Salt Stack formula for CIS O/S hardening and tool usage.</p>
                  </a>
                </div>
            </div>
        </div>
    </section>
